body {
  margin: 0;
}

main {
  border: 5px solid gray;
  margin: 7.5% auto;
  min-height: 70%;
  padding: 1em;
  width: 80%;
}

h1 {
  font-size: 300%;
}

p {
  font-size: 200%;
}

a {
  text-decoration: none;
}

